<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	<link rel="stylesheet/less" type="text/css" href="css/style.less">
	<script type="text/javascript" src="js/less-1.3.3.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</head>
<body>
	<div class="wrapper">
		<nav>
			<div class="nav">
				<a href="#" class="logo">
					<img src="img/logo.png">
				</a>
				<ul class="main-menu">
					<li class="menu-item dropdown">
						<a href="#">Today</a>
						<ul class="menu-sub-items">
							<li class="menu-sub-item">
								<a href="">Nyle Pride</a>
							</li>
							<li class="menu-sub-item active">
								<a href="">Nyle Pride</a>
							</li>
						</ul>
					</li>
					<li class="menu-item dropdown">
						<a href="#">Today</a>
						<ul class="menu-sub-items">
							<li class="menu-sub-item">
								<a href="">Nyleasdsad Pride</a>
							</li>
							<li class="menu-sub-item active">
								<a href="">Nyle Pride</a>
							</li>
						</ul>
					</li>
					<li class="menu-item">
						<a href="#">Today</a>
					</li>
					<li class="menu-item">
						<a href="#">Today</a>
					</li>
					<li class="menu-item">
						<a href="#">Today</a>
					</li>
					<li class="menu-item">
						<a href="#">Today</a>
					</li>
				</ul>
				<a class="phone" href="#">
					8 (800) 123 56 67
				</a>
				<ul class="icons">
					<li class="icon search">
						<a href="#"></a>
					</li>
					<li class="icon on login">
						<a href="#"></a>
						<div class="auth_form">
							<form>
								<div class="input-group">
									<label>Email</label>
									<input type="text">
								</div>
								<div class="input-group">
									<label>Password</label>
									<input type="password">
								</div>
								<div class="input-group remember">
									<label>REMEMBER ME</label>
									<input type="checkbox">
								</div>
								<div class="input-group">
									<input type="submit" value="LOGIN">
								</div>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<section class="two-column">
			<h1>Catalog</h1>
			<div class="left-column ">
				<ul class="sub-menu">
					<li class="sub-menu-item">
						<a href="#">People</a>
					</li>
					<li class="sub-menu-item active">
						<a href="#">About</a>
					</li>
					<li class="sub-menu-item">
						<a href="#">People</a>
					</li>
					<li class="sub-menu-item">
						<a href="#">People</a>
					</li>
					<li class="sub-menu-item">
						<a href="#">People</a>
					</li>
					<li class="sub-menu-item">
						<a href="#">People</a>
					</li>
				</ul>
			</div>	
			<div class="main-column">
				<div class="slider">
					<div class="slide">
						<img src="img/slide.jpg" alt="">
						<div class="caption">
							<h2>
								<p>You are dead?</p>
								<p>Find new</p>	
							</h2>
							<div class="text">
								<p>Fuck</p>	
								<p>Find new</p>
							</div>
						</div>
					</div>
				</div>
				<div class="featured-list">
					<div class="featured-item">
						<img src="img/feature-item.png">
						<div class="caption">
							850
						</div>
					</div>
					<div class="featured-item">
						<img src="img/feature-item.png">
						<div class="caption">
							850
						</div>
					</div>
					<div class="featured-item last">
						<img src="img/feature-item.png">
						<div class="caption">
							850
						</div>
					</div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</section>
		<footer>
			<div class="footer">
				<ul class="social-block">
					<li class="social-item">
						<a href="#"></a>
					</li>
					<li class="social-item">
						<a class="twitter" href="#"></a>
					</li>
					<li class="social-item">
						<a class="google" href="#"></a>
					</li>
					<li class="social-item">
						<a class="myspace" href="#"></a>
					</li>
					<li class="social-item">
						<a class="linkedin" href="#"></a>
					</li>
				</ul>
				<div class="copyright">© Starwarslab</div>
				<ul class="links">
					<li class="link"><a href="#">RU</a></li>
					<li class="link"><a href="#">FEEDBACK</a></li>
					<li class="link"><a href="#">SITE MAP</a></li>
				</ul>
			</div>
			<div class="footer-menu">
				<ul class="footer-menu-items">
					<li class="footer-menu-item">
						<a href="#">Catalog</a>
						<ul class="footer-menu-sub-items" >
							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>
						</ul>
					</li>
					<li class="footer-menu-item">
						<a href="#">Catalog</a>
						<ul class="footer-menu-sub-items" >
							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>

							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>

							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>
						</ul>
					</li>
					<li class="footer-menu-item">
						<a href="#">Catalog</a>
						<ul class="footer-menu-sub-items" >
							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>
						</ul>
					</li>
					<li class="footer-menu-item">
						<a href="#">Catalog</a>
						<ul class="footer-menu-sub-items" >
							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>

							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>

							<li class="footer-menu-sub-item">
								<a href="">Catalog item 1</a>
							</li>
						</ul>
					</li>
					<li class="footer-menu-item">
						<a href="#">Catalog</a>
					</li>
					<li class="footer-menu-item">
						<a href="#">Catalog</a>
					</li>
				</ul>
				<div style="clear:both;"></div>
			</div>
		</footer>
	</div>
</body>
</html>