body, html{background-color:#fff; color:#777;}

#logo{color:#adadad;}
#logo span{color:#6f6f6f;}

#menu, #menu a{color:#777;}

.search input{border:1px solid #d9d9d9; color:#191c1e;}
.search input.submit{color:#fff; background:#f9910c;}

#content .block h2, #content .block h3, #content h1, #content h2, #content h3, .items .block h4{color:#f9910c;}
.block .header{color:#777;}
.block .header.article{color:#000;}
.block h4{color:#000;}
#content a{color:#008ffe;}
.tabs ul{border-bottom:1px solid #b4b5b6;}
.tabs li{background:#fff;}
.tabs li, .tabs a, .tabs span{border-color:#b4b5b6; color:#777;}
.tabs .menu-active span, .tabs .menu-active, .tabs a:hover, .tabs a:hover span{color:#010101;}

.form input, .form option, .form select, .form textarea{color:#c1c1c1;}
.form .submit{border:1px solid #d9d9d9; background:#f9910c; color:#fff;}

#submenu a{color:#777;}

#footer{background:#f1f1f1; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
#footer a{color:#777;}