table.fx_user_list {width:100%; border-collapse:collapse}
table.fx_user_list  th, table.fx_user_list td {padding:5px; border:1px solid #CCC}
table.fx_user_list  th {background:#EEE}
table.fx_user_list  td {background:#FFF}
.fx_user_list .online, .fx_user_full .online {color:#090}
.fx_user_list .offline, .fx_user_full .offline {color:#900}
table.fx_user_full td {vertical-align:top}
table.fx_user_table {border-collapse:collapse}
table.fx_user_table td {padding:5px 10px; background:#FFF; border:1px solid #EEE}
table.fx_user_table .grey, table.fx_user_table .grey td {background:#F6F6F6}
a.fx_user_link_btn {text-decoration:none; margin-right:3px; padding:5px 8px; background:#F6F6F6; border:1px solid #DDD}
a.fx_user_link_btn:hover {background:#EEE; border:1px solid #CCC}
.fx_user_info_block {padding:5px; background:#EEE; border:1px solid #CCC}