<fx_inherit source="inner" keyword="header">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>Index</title>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/color.css" />
</head>

<body>

<div id="main"><div class="content">
<!--header-->
	<div id="header">
	<!--логотип, слоган-->
		<div id="logo">
			<a href="/"><img src="images/logo.gif" width="103" height="75" alt="" title="" /></a>
			<span class="name">YOUR<span>LOGO</span></span>
			<span>Sampletext under logo</span>
		</div>
	<!--//логотип, слоган-->
	<!--поиск, если в блоке содержится только поиск, добавляется class="search top_space", если в блоке присутствуют еще какие-либо элементы то вид class="search"-->
		<div class="search top_space">
			<form action="#">
				<input type="text" value="Что будем искать?" name="" onblur="if(this.value==''){this.value='Что будем искать?'}" onfocus="if(this.value=='Что будем искать?'){this.value=''}" />
				<input type="submit" value="Поиск" name="" class="submit" />
			</form>	
		</div>
	<!--//поиск-->
		<div class="sep"></div>
	<!--menu, отступы внутри пунктов меню сделаны через padding, что не совсем правильно, если мало или наоборот много пунктов меню, выглядеть будет не очень, такое меню надо делать на таблице-->
		<div id="menu"><div class="left"><div class="right">
			<ul>
				<li class="first"><a href="#" class="menu-active">О компании</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Статьи</a></li>
				<li><a href="#">Экипировка</a></li>
				<li><a href="#">Услуги</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div></div></div>
	<!--//menu-->
	<!--верхний баннер, фоновое изображение меняется через background в general.css-->
		<div id="banner_top">
			<img src="images/top_banner.jpg" width="834" height="360" alt="" />
		</div>
	<!--//верхний баннер-->
	</div>
<!--//header-->
</fx_inherit>
<!--блок слева-->
<fx_inherit source="inner" keyword="sidebar">
<div id="left_content">
<div class="submenu">
			<ul>
				<li><a href="#">Каталог</a></li>
				<li><a href="#" class="menu-active">Сувениры</a>
					<ul>
						<li><a href="#">Брелоки</a></li>
						<li><a href="#">Игрушки</a></li>
						<li><a href="#">Статуэтки</a></li>
					</ul>
				</li>
				<li><a href="#">Брелоки</a></li>
				<li><a href="#">Игрушки</a></li>
				<li><a href="#">Статуэтки</a></li>
				<li><a href="#">Наборы</a></li>
				<li><a href="#">Аксессуары</a></li>
				<li class="last"><a href="#">Принадлежности</a></li>
			</ul>
		</div>
		</div>
	 </fx_inherit>
<!--//блок слева-->
<!--content, если есть блок слева то добавляется class="is_left"-->
	<div id="content" class="is_left">
    <fx_inherit source="inner" keyword="content">
		<h1>Читайте о нас в соц-сетях</h1>
		<p>Управлять сайтом на базе NetCat может даже неподготовленный пользователь, ведь для этого не требуется знание интернет-технологий, языков программирования и разметки.</p>
		<p>NetCat постоянно улучшается, дополняется новыми возможностями. В процессе доработки обязательно учитываются пожелания наших партнеров и клиентов, а также тренды в области интернет-разработки.</p>
	<!--banner-->
		<div class="banner"><a href="#"><img src="images/content_banner.jpg" width="621" height="91" alt="" /></a></div>
	<!--banner-->
	<!--блок с двумя колонками-->
		<div class="block columns_2">
			<div class="col first">
				<h2>Новости и события</h2>
				<p><a href="#"><img src="images/news-img.jpg" width="264" height="125" alt="" /></a></p>
				<p>А мне вообще тут всё понравилос, ток не пойму про, что тут?</p>
			</div>
			<div class="col">
				<h2>Услуги компании</h2>
				<ul>
					<li><a href="#">Штамповка кадров</a></li>
					<li><a href="#">Изготовление офисного планктона</a></li>
					<li><a href="#">Обучение нерадивых работников</a></li>
					<li><a href="#">Семинары для уволеных</a></li>
					<li><a href="#">Форумы для знающих</a></li>
				</ul>
			<!--кнопка, тянется по ширине в пределах разумного, class="sep" - для того чтобы не было проблем с float:left-->
				<div class="button"><div class="left"><div class="right"><div class="content">
					<a href="#">Все услуги</a>
				</div></div></div></div>
				<div class="sep"></div>
			<!--кнопка-->
			</div>
			<div class="sep"></div>
		</div>
	<!--//блок с двумя колонками-->
    </fx_inherit>
	</div>
<!--//content-->
	<div class="sep"></div>

<!--логотипы компаний, партнеры, клиенты и т.п.-->
	<div id="partners">
            <fx_block keyword="bottom">
                <fx_content>
				<div class="block first">
			<a href="#"><img src="images/logo_1.gif" width="55" height="49" alt="" /></a>
			<p>&laquo;CSYSTEM&raquo; &mdash; цифровые системы</p>
		</div>
		<div class="block">
			<a href="#"><img src="images/logo_2.gif" width="174" height="49" alt="" /></a>
			<p>&laquo;Контур-Вест&raquo; &mdash; каждому по флажку</p>
		</div>
		<div class="block">
			<a href="#"><img src="images/logo_3.gif" width="197" height="49" alt="" /></a>
			<p>&laquo;КласикСтройКомплект&raquo; &mdash; строительная техника.</p>
		</div>
		<div class="block">
			<a href="#"><img src="images/logo_4.gif" width="122" height="49" alt="" /></a>
			<p>&laquo;MetroGroup&raquo; &mdash; товары на любой вкус.</p>
		</div>
				</fx_content>
            </fx_block>
        <div class="sep"></div>         
	</div>
<!--//логотипы компаний, партнеры, клиенты и т.п.-->

</div></div>
<!--footer-->
<fx_inherit source="inner" keyword="footer">
	<div id="footer">
		<div class="left">&copy; 2010 группа компаний &laquo;Netcat&raquo;.<br />Все права защищены.</div>
		<div class="right">&copy; 2010 Хороший пример <br />сайтостроения &mdash; <a href="#">WebSite.pu</a></div>
		<div class="sep"></div>
	</div>
<!--//footer-->
</body>
</html>
</fx_inherit>