/* блоки списком без колонок */
.fx_row {}
.fx_row .fx_caption {margin:20px 0 12px 0; font-size:16px; line-height:20px;}
.fx_row a {}

/* блоки колонками */
.fx_items {}
.fx_items .fx_item {width:276px; float:left; margin:0 0 0 33px; overflow:hidden;}
.fx_items .fx_caption {margin:20px 0 12px 0; font-size:16px; line-height:20px;}
.fx_item img {padding:3px; border:1px solid; margin:8px 0 0 0;}

/* разделитель */
.fx_divider {float:none; clear:both; height:1px; font-size:0; line-height:0}

/* группировка */
.fx_group {margin:20px 0 12px 0; font-size:16px; line-height:20px;}

/* пара ключ-значение */
.fx_key {}
.fx_value {}

/* слайдер */
#fx_slider {}

/* цена обычная, скидка */
.fx_price {}
.fx_discount {}

/* аяксовая ссылка */
.fx_ajax {}
.fx_box {display:none;}

/* ссылки скачать, купить и тд. */
.fx_download {}
.fx_buy {}
.fx_search {}
.fx_more {}

.fx_next {}
.fx_prev {}

/* выделенный элемент (например по важности) */
.fx_marked {}

/* новый элемент */
.fx_new {}

/* примечание */
.fx_notice {padding:5px 18px; font-style:italic;}

/* подпись к картинке */
.fx_label {}

body, html{margin:0; padding:0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; line-height:17px;}
form{margin:0; padding:0;}
input, div, a, span{outline:none;}
a:hover{text-decoration:none;}
a img{border:none;}
a, a img, .submit{cursor:pointer;}

.sep{float:none; clear:both; height:1px;}
.rtc, .ltc, .rbc, .lbc, .sep{font-size:0; line-height:0;}
.rel{position:relative;}

#main{width:834px;  padding:22px 53px 0 53px; margin:23px auto 0 auto; border:19px solid;}

	#logo{width:407px; float:left; overflow:hidden; font-size:13px; line-height:17px; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; margin:0 19px;}
	#logo img{max-width:200px; border:none; margin:0 15px 0 0; float:left;}
	#logo .name{font-weight:bold; font-size:30px; line-height:36px; display:block; padding:11px 0 0 0;}
	
	.search{float:right; clear:right; font-size:11px;}
	.search input{font-style:italic;}
	.search .submit{vertical-align:1px; font-style:normal;}
	#header .search.top_space{padding:39px 0 0 0;}
	
	#menu{margin:13px 0 0 0; overflow:hidden; height:46px;}
	#menu, #menu .left, #menu .right{height:46px; background:url(../images/menu_bg.gif) left top repeat-x;}
	#menu .left{background:url(../images/menu_left.gif) left top no-repeat;}
	#menu .right{background:url(../images/menu_right.gif) right top no-repeat;}
	#menu ul, #menu li{margin:0; padding:0;}
	#menu li{list-style-type:none; float:left; background:url(../images/menu_sep.gif) left top no-repeat; height:34px; white-space:nowrap; padding:12px 25px 0;}
	#menu li.first{background:none;}
	#menu a{text-decoration:none; font-size:18px; line-height:22px; text-transform:uppercase;}
	
	#banner_top{width:834px; overflow:hidden; position:relative;}
	
		.num{position:absolute; left:21px; bottom:11px; width:600px; overflow:hidden; height:28px;}
		.num a{display:block; width:28px; height:24px; background:url(../images/number.png) left top no-repeat; float:left; margin:0 10px 0 0; text-decoration:none; text-align:center; font-family:Tahoma; font-weight:bold; padding:4px 0 0 0;}

#left_content, #content{margin:34px 0;}
#left_content{width:195px; float:left; margin-top:30px;}

	#left_content .submenu{padding:0 0 0 13px;}
	.submenu ul, .submenu li{margin:0; padding:0;}
	.submenu li{list-style-type:none; padding:7px 0 7px 24px; background:url(../images/submenu_ul_li_marker.gif) left 7px no-repeat; font-size:14px; line-height:17px; border-bottom:1px solid; text-transform:uppercase;}
	.submenu a{text-decoration:none;}
	.submenu li li{border:none; background:none; text-transform:none; padding:4px 0;}
	.submenu li.last{border:none;}
	
#content.is_left{width:621px; float:right;}

	#content h1, #content h2, #content h3, #content h4{font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
	#content h1{margin:0 0 12px 0; font-size:18px; line-height:24px;}
	#content h1, #content h2{text-transform:uppercase;}
	#content h2{margin:30px 0 12px 0; font-size:16px; line-height:20px}
	#content h3{margin:30px 0 12px 0; font-size:20px; line-height:26px;}
	#content h4{margin:20px 0 12px 0; font-size:16px; line-height:20px;}
	#content p{margin:10px 0;}
	
	.banner{margin:35px 0; overflow:hidden;}
	
	#content .note{padding:5px 18px; font-style:italic;}
	
	#content .block ul, #content .block li{margin:0; padding:0;}
	#content .block li{list-style-type:none; background:url(../images/ul_li_marker.gif) left 10px no-repeat; padding:3px 0 3px 14px;}

	.block.columns_2 .col{width:276px; float:left; margin:0 0 0 33px; overflow:hidden;}
	#content .block.columns_2 .col img{padding:3px; border:1px solid; margin:8px 0 0 0;}
	#content .block.columns_2 .col h2, #content .block.columns_2 .col h3{margin-top:0;}
	.block.columns_2 .col.first{margin:0;}
	
	.block.image{font-style:italic;}
	.block.image img{border:5px solid;}
	.block.image p{padding:0 0 0 18px;}
	
	.button{float:left; background:url(../images/button_bg.gif) left top repeat-x; text-align:center; margin:30px 0 20px 0;}
	.button, .button .left, .button .right, .form div.left, .form div.right{height:45px; width:auto;}
	.button .left, .form div.left{background:url(../images/button_left.gif) left top no-repeat; padding:0; margin:0;}
	.button .right, .form div.right{background:url(../images/button_right.gif) right top no-repeat; padding:0 22px; margin:0;}
	.button .content{overflow:hidden;}
	.form .button .submit, .button a{font-size:18px; line-height:22px; font-weight:bold; display:block; padding:10px 0 0 0; text-decoration:none;}
	
	.form{width:480px; margin:0 0 10px;}
	.form .left, .form .right{width:234px; margin:3px 0;}
	.form select.right, .form select.left{width:238px;}
	.form .submit{float:none; clear:both; width:auto; margin:0; height:auto;}
	.form textarea, .form select, .form input, .form option{font-size:12px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:14px; height:18px; padding:1px 0;}
	.form textarea{width:477px; margin:3px 0; height:100px;}
	.form select{height:24px;}
	.form .submit{height:auto; width:100px; background:none; text-align:center; border:none; padding:0; text-align:center;}
	

#partners{border-top:1px solid; padding:35px 0;}
	
	#partners .block{float:left; font-family:Georgia; font-style:italic; font-size:12px; text-align:center; width:197px; margin:0 0 0 15px;}
	#partners .block.first{margin:0;}
	#partners img{max-width:197px;}
	
#footer{width:894px; font-size:12px; line-height:17px; padding:17px 23px 40px 23px; margin:0 auto 50px auto; border-right:19px solid; border-left:19px solid;}
#footer .left{float:left; width:273px; margin:0 41px 0 0;}
#footer .middle{float:left; width:392px; padding:0 0 0 24px; background:url(../images/footer_addres.gif) left top no-repeat;}
#footer .right{float:right; width:231px; text-align:right;}