.fx_admin_form {
  padding: 20px;
}
.fx_admin_form a,
.fx_admin_form .ui-state-default a {
  color: #28abd0;
  cursor: pointer;
}
.fx_admin_form .ui-state-active a {
  color: #333;
}
.fx_admin_form,
.fx_admin_form .ui-widget input,
.fx_admin_form .ui-widget select.fx_input,
.fx_admin_form .ui-widget textarea.fx_input,
.fx_admin_form .ui-widget button {
  font-size: 13px;
  font-family: Tahoma, sans-serif;
}
.fx_admin_form .field {
  clear: both;
}
.fx_admin_form label {
  font-size: 14px;
  color: #333;
}
.fx_admin_form input.fx_input,
.fx_admin_form select.fx_input,
.fx_admin_form textarea.fx_input {
  display: block;
  margin: 7px 0 0;
}
.fx_admin_form input[type=text].fx_input,
.fx_admin_form select.fx_input {
  width: 50%;
}
.fx_admin_form select.fx_input {
  margin-bottom: 12px;
  padding: 0;
}
.fx_admin_form textarea.fx_input {
  width: 95%;
}
.date_field {
  position: relative;
}
.date_field .icon {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/floxim/admin/skins/default/css/../images/calendar_blue.gif");
}
.fx_admin_form #colorpickerHolder2 input {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.fx_admin_form label input[type=checkbox],
.fx_admin_form label input[type=radio] {
  display: inline !important;
  margin: 0 5px 0 0;
}
.fx_admin_form input.fx_input,
.fx_admin_form textarea.fx_input {
  margin-bottom: 10px;
  padding: .4em;
}
.fx_admin_form .fx_file_choice {
  border: 1px solid #C6C7C3;
  padding: 0 0 10px 5px;
}
.fx_admin_form .fx_file_list .fx_itemselect_item {
  float: left !important;
  height: 200px !important;
  width: 200px !important;
  padding: 10px !important;
}
.fx_admin_form .form_header {
  font-size: 20px;
  margin-bottom: 17px;
}
.fx_admin_form .form_header a {
  cursor: pointer;
}
.fx_admin_form .fx_admin_radio_label,
.fx_admin_form .fx_admin_checkbox_label {
  font-weight: normal !important;
  font-size: 12px !important;
}
#fx_admin_control .redactor_box {
  max-width: 600px;
}
#fx_admin_control .redactor_editor {
  max-height: 270px;
}
#fx_admin_control .redactor_toolbar {
  left: 0;
  top: 0;
  border: none;
  border-bottom: 1px solid #e1e1e1 !important;
}
#fx_admin_control .redactor_toolbar .redactor_separator {
  border-right: none;
  height: 31px;
}
#fx_admin_control .fx_form_horizontal .redactor_toolbar {
  background: #FFF !important;
  border: none !important;
  top: 2px;
  left: 10px;
}
#fx_admin_control .fx_form_horizontal .field {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
#fx_admin_control .fx_form_horizontal .fx_input {
  max-width: 135px;
}
#fx_admin_control .fx_form_horizontal .field_text .input_container {
  overflow: hidden;
  max-width: 150px;
}
#fx_admin_control .fx_form_horizontal .form_label {
  display: block;
  min-height: 16px;
}
#fx_admin_control .fx_form_horizontal label,
#fx_admin_control .fx_form_horizontal input,
#fx_admin_control .fx_form_horizontal select,
#fx_admin_control .fx_form_horizontal textarea,
#fx_admin_control .fx_form_cols label,
#fx_admin_control .fx_form_cols input,
#fx_admin_control .fx_form_cols select,
#fx_admin_control .fx_form_cols textarea {
  display: inline;
  font-size: 11px;
  width: auto;
  margin: 0;
}
#fx_admin_control .fx_form_horizontal label,
#fx_admin_control .fx_form_cols label {
  font-size: 10px;
  text-transform: uppercase;
}
#fx_admin_control .fx_form_cols .fx_tab_data {
  vertical-align: top;
  padding: 0 15px;
  border-right: 1px solid #CCC;
}
#fx_admin_control .fx_form_cols .fx_tab_data.fx_tab_data_first {
  padding-left: 0;
}
#fx_admin_control .fx_form_cols .fx_tab_data.fx_tab_data_last {
  padding-right: 0;
  border-right: none;
}
#fx_admin_control .fx_form_cols .form_label {
  margin-top: 0;
}
#fx_admin_control .fx_form_cols .input_container {
  margin-bottom: 20px;
  overflow: auto;
}
#fx_admin_control .fx_form_cols .field_last .input_container {
  margin-bottom: 0;
}
#fx_admin_control .livesearch_items {
  width: auto;
  background: #FFF;
  height: 28px;
}
#fx_admin_control .fx_image_field img {
  height: 50px;
  margin-right: 10px;
  float: left;
}
#fx_admin_control .fx_image_field .fx_admin_button_text {
  margin-right: 10px;
}
#fx_admin_extra_panel form.fx_form_vertical .field {
  margin-bottom: 10px;
  overflow: hidden;
}
#fx_admin_extra_panel form.fx_form_vertical .form_label {
  float: left;
  width: 10%;
  margin-top: 0;
  margin-right: 1%;
  text-align: right;
}
#fx_admin_extra_panel form.fx_form_vertical .input_container {
  float: left;
  width: 70%;
}
#fx_admin_extra_panel form.fx_form_vertical .fx_input {
  margin-top: 0;
  margin-bottom: 0;
}
.fx_button {
  margin-right: 5px;
}
.inline .fx_admin_radio_label {
  display: inline;
  padding-right: 12px;
}
.fx_admin_form .form_label {
  margin-bottom: 7px;
  margin-top: 14px;
}
#fx_admin_fields {
  position: relative;
  top: -6px;
}
#fx_admin_fields .field {
  float: left;
  min-width: 40px;
  margin-right: 15px;
  margin-left: 15px;
}
#fx_admin_fields .fx_image_field {
  background: #FFF;
}
.fx_overlay .fx_image_field img {
  max-height: 100px;
  max-width: 150px;
}
#fx_admin_fields .fx_image_field img {
  max-height: 34px;
  float: left;
  margin-right: 10px;
}
#fx_admin_fields .fx_image_field .preview .fx_admin_button_text {
  margin-right: 10px;
  margin-top: 6px;
}
.fx_overlay .fx_image_field .file_input {
  overflow: hidden;
  width: 1px;
  height: 1px;
  display: inline-block;
  float: left;
}
#fx_admin_fields .fx_input,
#fx_admin_extra_panel .fx_input {
  margin-top: 6px;
  border: 1px solid #e1e1e1;
  padding: 5px 3px 4px 3px;
  font-size: 11px;
}
#fx_admin_extra_panel input[type="text"].fx_input,
#fx_admin_extra_panel select.fx_input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 28px;
}
#fx_admin_extra_panel .livesearch {
  max-width: 600px;
}
.fx_overlay .ui-datepicker-current-day {
  background: #FF0;
}
#fx_admin_control .editor_panel {
  float: left;
  position: relative;
  top: -4px;
}
.fx_admin_form .fx_admin_multi_checkbox input {
  margin-bottom: 0;
}
#nc_upload_target,
.fx_admin_form .fx_file_list {
  display: none;
}
.fx_admin_form .fx_file_choice span,
.fx_layer_name span {
  border-bottom: 1px dashed #2A6DA0;
  color: #2A6DA0;
  cursor: pointer;
}
.fx_admin_form_datetime input,
.fx_admin_form .fx_admin_checkbox_label {
  display: inline;
}
.fx_admin_form .fx_fieldset .fx_fieldset_label label {
  font-size: 12px;
}
.fx_admin_form .fx_fieldset_add {
  margin: 5px 0;
  display: inline-block;
}
.fx_admin_form .fx_fieldset input[type="text"],
.fx_admin_form .fx_fieldset select,
.fx_admin_form .fx_fieldset textarea {
  width: auto;
  margin: 0;
}
.fx_overlay .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.fx_overlay .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
}
#fx_admin_extra_panel form {
  padding: 10px;
  overflow: auto;
}
.fx_overlay .field_hidden {
  display: none !important;
}
.fx_overlay .visual_wrapper .variant {
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 2px 5px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}
.fx_overlay .visual_wrapper .variant.active {
  border: 2px solid #000;
}
.fx_popup {
  padding: 10px;
  z-index: 3010;
  background-color: #FFF;
  border: 1px solid #e4e6e6;
  -webkit-box-shadow: 0px 5px 12px rgba(50,50,50,0.56);
  -moz-box-shadow: 0px 5px 12px rgba(50,50,50,0.56);
  box-shadow: 0px 5px 12px rgba(50,50,50,0.56);
}
.fx_popup .fx_popup_arrow {
  display: block;
  background: url(/floxim/admin/skins/default/images/popup_arrow.png) no-repeat 0 0;
  width: 13px;
  height: 8px;
  position: absolute;
  top: -8px;
}
.fx_popup input[type='text'].fx_input {
  max-width: 200px !important;
  width: 200px !important;
}
.fx_popup input[type='text'].fx_input.short {
  max-width: 120px !important;
}
.fx_popup select.fx_input[name*='operator'] {
  width: 100% !important;
}
