<!--[input ? _c.type == 'button']-->
<div 
    class="fx_button fx_admin_button_text<?=_c['class'] ? ' fx_admin_button_'+_c['class'] : ''?>" 
    <?=$t.data_attr(_c)?>>
    <span><?=_c.label || ''?></span>
</div>