<fx_inherit source="inner" keyword="header"></fx_inherit>

<!--верхний баннер-->
	<div id="top_banner"><div class="bottom"><div class="left"><div class="right"><div class="ltc"><div class="rtc"><div class="lbc"><div class="rbc"><div class="color_bg"><div class="content_bg">
		<div class="banner_content">
			<img keyword="top_banner"  src="css/images/top_banner_img.png" align="right" width="223" height="268" alt="" fx_replace="src"/>
			<div class="slogan">
				<fx_replace name="Слоган" keyword="slogan_banner">«Слоган нашей компании <br />на всех мониторах в интернете»</fx_replace>
			</div>
			<p><fx_replace keyword="slogan_text">Лучших предложений не сыскать днём с огнём, и ночью с фонариком, проводником и собакой ищейкой. И ещё много всяких вкусных и полезных слов написано в разделе подробнее...</fx_replace></p>
			<a keyword="more" fx_replace="href" href="/" class="more"><span><span>Подробнее</span></span></a>
			<div class="sep"></div>
		</div>
	</div></div></div></div></div></div></div></div></div></div>
<!--//верхний баннер-->

<!--центральная часть, контентная область и правый вспомогательный блок-->
    <div id="center">
    <!--контент-->
        <div id="content">
            <fx_blockset keyword="main_content" main="yes">
            	<fx_block name="Без ничего">
					<div class="plain_block"><fx_content></fx_content></div>
                </fx_block>
                <fx_block name="C заголовком и примечанием">
                <div class="block info">
                <!--заголовок-->
                    <h2><fx_replace name="Заголовок">Информация о компании (h2)</fx_replace></h2>
                <!--//заголовок-->
                    <fx_content>
                    <img src="css/images/content_img.jpg" width="148" height="127" alt="" align="left" />
                    <p>Предприятие было организовано в 1890 году и сразу заняло лидирующие позиции на рынке художественных изделий. С каждым годом, мы накапливали уникальный опыт в области производства ювелирных изделий.</p>
                    <p class="note">Казалось бы, что вся схожая продукция на рынке ювелирных украшений одинакова и можно выбирать любого производителя. Но несмотря на это наше предприятие имеет ряд преимуществ перед конкурентами.</p>
                    </fx_content>
                    <div class="sep"></div>
                </div>
                </fx_block>
                <fx_divider>
                    <div class="sep"></div>
                </fx_divider>
                <fx_block name="Список статей по горизонтали в 3 колонки">
                <div class="block article">
                <!--заголовок-->
                    <h2><fx_replace name="Заголовок">Тематические статьи (h2)</fx_replace></h2>
                <!--//заголовок-->
                    <fx_content>
                    <div class="article_block">
                        <a href="#"><img src="css/images/content_img_1.jpg" width="231" height="127" alt="" /></a>
                        <p class="header">Красота покоряет индустрию.</p>
                        <p>Семинар о том, что может заставить любоваться на форумах и семинарах.</p>
                        <div class="article_nav">
                            <span><img src="css/images/icon_article_author.gif" alt="" /> Вася Пупкин</span>
                            <span><img src="css/images/icon_article_comment.gif" alt="" /> <a href="#">Комментариев</a> (13)</span>
                        </div>
                    </div>
                    <div class="article_block">
                        <a href="#"><img src="css/images/content_img_2.jpg" width="231" height="127" alt="" /></a>
                        <p class="header">Красота покоряет индустрию.</p>
                        <p>Семинар о том, что может заставить любоваться на форумах и семинарах.</p>
                        <div class="article_nav">
                            <span><img src="css/images/icon_article_author.gif" alt="" /> Злобный_форумный_троль_с длинным_ником</span>
                            <span><img src="css/images/icon_article_comment.gif" alt="" /> <a href="#">Комментариев</a> (1326)</span>
                        </div>
                    </div>
                    <div class="article_block last">
                        <a href="#"><img src="css/images/content_img_3.jpg" width="231" height="127" alt="" /></a>
                        <p class="header">Красота покоряет индустрию.</p>
                        <p>Семинар о том, что может заставить любоваться на форумах и семинарах.</p>
                        <div class="article_nav">
                            <span><img src="css/images/icon_article_author.gif" alt="" /> Джугашвили Иосиф Виссарионович (aka. Сталин)</span>
                            <span><img src="css/images/icon_article_comment.gif" alt="" /> <a href="#">Комментариев</a> (201)</span>
                        </div>
                    </div>
                    </fx_content>
                </div>
                </fx_block>
                <div class="sep"></div>
                <!--блок с 2мя статьями-->
                <fx_block name="Список статей по горизонтали в 2 столбика">
                    <div class="block double">
                        <h2><fx_replace name="Заголовок">Наши преимущества (h2)</fx_replace></h2>
                        <fx_content>
                        <div class="left">
                            <ul>
                                <li>Стойкость к износу во время боя</li>
                                <li><a href="#">Жаропрочность над костром</a></li>
                                <li><a href="#">Стойкость покрытия в любом месте</a></li>
                                <li><a href="#">Быстрая сушка</a></li>
                                <li><a href="#">Лёгкость отмытия</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <p><a href="#">Самый большой ассортимент</a> художественных изделий В нашем каталоге более 2300 наименований различного рода художественных изделий, ювелирных украшений и сопутствующих товаров.</p>
                        </div>
                        </fx_content>
                        <div class="sep"></div>
                    </div>
                </fx_block>
                <!--//блок с 2мя статьями-->
            </fx_blockset>
            <div class="sep"></div>
        </div>
    <!--//контент-->
    <!--правый блок-->
        <div id="right_content">
        <fx_inherit source="inner" keyword="sidebar">
        <!--новости-->
            <div class="block news">
                <h2>Новости</h2>
                <div class="all"><a href="#">Все новости</a></div>
                <p><a href="#" class="header">Заголовок новости</a></p>
                <a href="#"><img src="css/images/news_img.jpg" alt="" align="left" /></a>
                <p>Краткий анонс новости и превью картинки о том, как наша компания развивается.</p>
                <div class="sep"></div>
            </div>
        <!--//новости-->
        <!--статья в правом блоке-->
            <div class="block about">
                <p><a href="#" class="header">Почему стоит выбрать наш магазин</a></p>
                <p>Мы знаем толк в продажах игрушек. У нас самый большой ассортимент по всем направлениям игрушкостроительства и их продаж.</p>
            </div>
        <!--//статья в правом блоке-->
        <!--рассылка-->
            <div class="block distribution">
                <h2>Рассылка</h2>
                <div class="all"><a href="#" class="all">Подробнее</a></div>
                <form action="#">
                    <input type="text" value="Введите ваш e-mail:" name="" onblur="if(this.value==''){this.value='Введите ваш e-mail:'}" onfocus="if(this.value=='Введите ваш e-mail:'){this.value=''}" />
                    <input type="submit" value="Подписаться" name="" class="submit" />
                </form>    
            </div>
        <!--//рассылка-->
        </fx_inherit>
        </div>
    <!--//правый блок-->
    </div>
    <div class="sep"></div>
<!--//центральная часть, контентная область и правый вспомогательный блок-->
<fx_inherit source="inner" keyword="footer">
<!--баннеры-->
    <div id="banners">
        <div class="banner"><a href="#"><img src="css/images/banner.gif" alt="" width="313" height="127" /></a></div>
        <div class="banner"><a href="#"><img src="css/images/banner.gif" alt="" width="313" height="127" /></a></div>
        <div class="banner last"><a href="#"><img src="css/images/banner.gif" alt="" width="313" height="127" /></a></div>
        <div class="sep"></div>
    </div>
<!--//баннеры-->
    <div id="footer">
        <div class="left">&copy; 2010 группа компаний &laquo;Netcat&raquo;.<br />Все права защищены.</div>
        <div class="middle">Адрес: г. Москва, ул. Мануфактурная, д. 14<br />Телефон и факс: (831) 220-80-18</div>
        <div class="right">&copy; 2010 Хороший пример <br />сайтостроения &mdash; <a href="#">WebSite.pu</a></div>
        <div class="sep"></div>
    </div>
<!--нижняя цветная полоса-->
    <div class='color_line'><div><div><div><div><div><div><div><div><div><div></div></div></div></div></div></div></div></div></div></div></div>
<!--//нижняя цветная полоса-->
</div>

</body>
</html>
</fx_inherit>
