.comment_list {

}

	.comment_list .comment {
	
	}

		.comment_list .comment h3 {
			margin-bottom: 5px;
			font-size: 22px;
		}
		.comment_list .comment .date {
			font-size: 12px;
		}

		.comment_list .comment .text {
			font-size: 18px;
		}